<h1>Index</h1>

<main>
  <% @trips.each do |trip| %>
    Trip: <%= trip.title %> 
    Duration: <%= trip.duration  %> <%=" day".pluralize(trip.duration)%>
    Trip begins: <%= trip.start_date %> 
    Trip ends: <%= trip.end_date %> 
    Price: <%= number_to_currency(trip.price.to_f) %><br>
  <% end %>
</main>

