<h1>New Trip</h1>

<%= form_with model: @trip, local: true do |f| %> 

  <%= f.label :title %><br><%= f.text_field :title %><br>
  <%= f.label :duration %><br><%= f.number_field :duration %><br>
  <%= f.label :description %><br><%= f.text_area :description %><br>
  <%= f.label :startdate, 'Start Date' %><br><%= f.date_select :startdate%><br>
  <%= f.label :enddate, 'End Date' %><br><%= f.date_select :enddate%><br>
  <%= f.label :price %><br><%= f.number_field :price %><br>
  
  <%= f.submit %>

<% end %>