<div>
  <h1><%= @trip.title %></h1>
  Location: <%= @trip.location %>
  Duration: The trip runs for <%= @trip.duration+1 %>  days and <%= @trip.duration %>  nights.
  Starting: <%= @trip.start_date %> Ending: <%= @trip.end_date %>
  Location: <%= @trip.location %>
  Description: <%= @trip.description %>
  Address (for pick up and drop off): 
  <%= @trip.address.addr1 %>, 
  <% if @trip.address.addr2 != "" %>
    <%= @trip.address.addr2 %>
  <% end %>  
  <%= @trip.address.city %>
  <%= @trip.address.state %> <%= @trip.address.postcode %>
  
</div>
<%= link_to "Back", trips_path %>



