<nav>
  <%= link_to "Home", trips_path %>
  <% if seller_signed_in? %>
    Hi <%= current_seller.business_name.split.map(&:capitalize)*' ' %>.
    <%= link_to "List a New Trip", new_trip_path, method: "get" %>  
    <%= link_to "Sign out", destroy_seller_session_path, method: "delete" %>
  <% elsif buyer_signed_in? %>
    Welcome back <%= current_buyer.first_name.capitalize %>.
    <%= link_to "Sign out", destroy_buyer_session_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign In User", new_buyer_session_path %>
    <%= link_to "Sign Up New User", new_buyer_registration_path %>
    <%= link_to "Sign In Business", new_seller_session_path %>
    <%= link_to "Sign Up New Business", new_seller_registration_path %>
  <% end %>
</nav>